<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-ios-plugin" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>iosplugin</name>
<js-module name="iosplugin" src="www/iosplugin.js">
    <clobbers target="cordova.plugins.iosplugin" />
</js-module>
<platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="iosplugin">
                <param name="ios-package" value="iosplugin" />
            </feature>
        </config-file>
    <source-file src="src/ios/iosplugin.m" />
</platform>
</plugin>